'<router-outlet><router-outlet/>'
<h1>Welcome to Equity bank</h1>
<p>
 <label>
   <input type="checkbox" id="checkbox" name="checkbox">
   My account
 </label>
 <label>
   <input type="checkbox" id="checkbox" name="checkbox">
   Email
 </label>
</p>
<h2>Administrator</h2>
<a href="https://upload.wikimedia.org/wikipedia/commons/1/15/Equity_Group_Logo.png">
   <img src="https://upload.wikimedia.org/wikipedia/commons/1/15/Equity_Group_Logo.png" >
</a>
<p>
<label for="text-input">Username:</label>
<input type="text" id="text-input" name="text-input"><br><br>
<label for="text-input">Password:</label>
<input type="text" id="text-input" name="text-input"><br><br>
<input type="button" value="Sign in">
</p>
<p>Forgot Password?</p>
<input type="button" value="Register">  
