<p>sign-in works!</p>
<p>register works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign in </title>
</head>
<body>
  <h1>Sign in form</h1>
  <form action="/sign in " method="post" ngSubmit="submit()">
    <div class = "form-group">
     <label for="Username">First name:</label>
     <input type="text" id="Username" name="Username" class="form-conrol" ngModel>
    </div>
    <pre></pre>
    <div class = "form-group">
     <label for="Username">Username:</label>
     <input type="text" id="Username" name="Username" class="form-conrol" ngModel>
    </div>
    <pre></pre>
    <div class = "form-group">
     <label for="Sol id">Sol id:</label>
     <input type="Sol id" id="Sol id" name="Sol id" class="form-conrol" ngModel>
    </div>
    <pre></pre>
    <div class = "form-group">
     <label for="Pf No ">Pf no:</label>
     <input type="Pf No" id="Pf No" name="Pf No" class="form-conrol" ngModel>
    </div>
    <pre></pre>
    <div class = "form-group">
     <label for="KES/USD">KES/USD:</label>
     <input type="KES/USD" id="KES/USD" name="KES/USD"class="form-conrol"ngModel>
    </div>
    <pre></pre>
    <div class = "form-group">
     <label for="bio">Bio</label>
    </div>
    <pre></pre>
    <button routerlink="" >sign-in</button>
     <!-- <input type="submit" value="Sign in"> -->
  </form>
</body>

  